node-red/flows.json
[{"id":"93b7332e.13485","type":"tab","label":"QCM","disabled":false,"info":""},{"id":"ea3a200d.5f856","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c32c5573.642258","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"1ee2e016.415e7","type":"ui_group","z":"","name":"QCM","tab":"2d4b820b.8fe40e","disp":true,"width":"16","collapse":false},{"id":"36f7e1d7.3b7cbe","type":"mqtt-broker","z":"","name":"","broker":"10.131.72.83","port":"1883","clientid":"ape-5","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"ape/5/status","birthQos":"0","birthRetain":"true","birthPayload":"connected","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"ape/5/status","willQos":"0","willRetain":"true","willPayload":"disconnected"},{"id":"2d4b820b.8fe40e","type":"ui_tab","z":"","name":"QCM","icon":"dashboard","disabled":false,"hidden":false},{"id":"9491cc34.4effd","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5d82c512.26d30c","type":"postgresdb","z":"","hostname":"postgres","port":"5432","db":"mydatabase","ssl":false},{"id":"c5a931bc.65163","type":"function","z":"93b7332e.13485","name":"command","func":"while (msg.payload == \"start\") {\n    msg.payload = \"F\\r\";\n}\nmsg.payload = \"F\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[["e627941d.a48038"]]},{"id":"e627941d.a48038","type":"serial out","z":"93b7332e.13485","name":"QCM","serial":"c32c5573.642258","x":770,"y":40,"wires":[]},{"id":"8cdfdd5f.15f22","type":"serial in","z":"93b7332e.13485","name":"","serial":"c32c5573.642258","x":270,"y":320,"wires":[["1a5fe530.88c89b"]]},{"id":"fb49c66f.93c498","type":"looptimer","z":"93b7332e.13485","duration":"2","units":"Second","maxloops":"1000","maxtimeout":"1","maxtimeoutunits":"Hour","name":"loop","x":390,"y":100,"wires":[["c5a931bc.65163"],["c5a931bc.65163"]]},{"id":"a3357a30.b701f8","type":"ui_chart","z":"93b7332e.13485","name":"QCM absolute frequency","group":"1ee2e016.415e7","order":1,"width":"16","height":"6","label":"Absolute Frequency","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":240,"wires":[[]]},{"id":"1a5fe530.88c89b","type":"function","z":"93b7332e.13485","name":"format output","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":300,"wires":[["a3357a30.b701f8","cd3d1fd3.3af18"]]},{"id":"41897d8.005ea84","type":"ui_button","z":"93b7332e.13485","name":"clear chart","group":"1ee2e016.415e7","order":4,"width":"3","height":"1","passthru":false,"label":"clear chart","tooltip":"Clear the chart","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":450,"y":220,"wires":[["a3357a30.b701f8"]]},{"id":"1a466d70.304033","type":"ui_button","z":"93b7332e.13485","name":"start","group":"1ee2e016.415e7","order":2,"width":"3","height":"1","passthru":false,"label":"start","tooltip":"start and experiment","color":"","bgcolor":"green","icon":"","payload":"start","payloadType":"str","topic":"","x":210,"y":60,"wires":[["fb49c66f.93c498"]]},{"id":"a074a750.32e718","type":"ui_button","z":"93b7332e.13485","name":"stop","group":"1ee2e016.415e7","order":3,"width":"3","height":"1","passthru":false,"label":"stop","tooltip":"stop the experiment","color":"","bgcolor":"red","icon":"","payload":"stop","payloadType":"str","topic":"","x":210,"y":120,"wires":[["fb49c66f.93c498"]]},{"id":"546fa96b.254718","type":"ui_text_input","z":"93b7332e.13485","name":"user name","label":"user name","tooltip":"name of operator / user","group":"1ee2e016.415e7","order":5,"width":"11","height":"2","passthru":true,"mode":"text","delay":"0","topic":"","x":270,"y":480,"wires":[["d7b1e6ce.d1f0a8"]]},{"id":"e48ac6a5.fbdd18","type":"ui_text_input","z":"93b7332e.13485","name":"experiment name","label":"experiment name","tooltip":"name of experiment ","group":"1ee2e016.415e7","order":6,"width":"13","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":290,"y":560,"wires":[["8576576d.1566f8"]]},{"id":"d7b1e6ce.d1f0a8","type":"function","z":"93b7332e.13485","name":"store user name","func":"flow.set(\"userName\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[[]]},{"id":"8576576d.1566f8","type":"function","z":"93b7332e.13485","name":"store experiment name","func":"flow.set(\"experimentName\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":560,"wires":[[]]},{"id":"cd3d1fd3.3af18","type":"function","z":"93b7332e.13485","name":"add meta data","func":"var d = new Date();\n\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n//    {\n//        query: 'delete from mytable',\n//    },\n    {\n        query: 'insert into mytable (timestamp, username, experiment, value) values ($1, $2, $3, $4)',\n        params: [d.getTime(), flow.get(\"userName\"), flow.get(\"experimentName\"), msg.payload],\n    },\n    {\n        query: 'select * from mytable',\n        output: true,\n    },\n    {\n        query: 'commit',\n    },\n];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["b299f1b7.6cb44"]]},{"id":"b299f1b7.6cb44","type":"postgres","z":"93b7332e.13485","postgresdb":"5d82c512.26d30c","name":"postgres","output":false,"outputs":0,"x":940,"y":380,"wires":[]}]